<div class="contact">
  <form name="contactDetailForm" novalidate>
    <div>
      <span class="contact__required">*</span> field is required
    </div>
    <div class="contact__box">
      <h3 class="contact__sub-title">
        Personal
      </h3>
      <div class="contact__field">
        <label>
          Name <span class="contact__required">*</span>
        </label>
        <input
          check-length
          type="text"
          name="name"
          required="required"
          ng-model="$ctrl.contact.name"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
      <div class="contact__field">
        <label>
          Email
          <span class="contact__error" ng-if="contactDetailForm.email.$error.email">
            Must be a valid email
          </span>
        </label>
        <input
          check-length
          type="email"
          name="email"
          ng-model="$ctrl.contact.email"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
      <div class="contact__field">
        <label>
          Job title
        </label>
        <input
          check-length
          type="text"
          name="jobTitle"
          ng-model="$ctrl.contact.job"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
      <div class="contact__field">
        <label>
          Location
        </label>
        <input
          check-length
          type="text"
          name="location"
          ng-model="$ctrl.contact.location"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
    </div>
    <div class="contact__box contact__box--no-margin">
      <h3 class="contact__sub-title">
        Social
      </h3>
      <div class="contact__field">
        <label>
          Facebook
        </label>
        <input
          check-length
          type="text"
          name="facebook"
          ng-model="$ctrl.contact.social.facebook"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
      <div class="contact__field">
        <label>
          Twitter
        </label>
        <input
          check-length
          type="text"
          name="twitter"
          ng-model="$ctrl.contact.social.twitter"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
      <div class="contact__field">
        <label>
          Github
        </label>
        <input
          check-length
          type="text"
          name="github"
          ng-model="$ctrl.contact.social.github"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
      <div class="contact__field">
        <label>
          Linkedin
        </label>
        <input
          check-length
          type="text"
          name="linkedin"
          ng-model="$ctrl.contact.social.linkedin"
          ng-change="$ctrl.edit()"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 250,
              'blur': 0
            }
          }">
      </div>
    </div>

    <contact-tag
      tag="$ctrl.contact.tag"
      on-change-tag="$ctrl.updateTag($event)">

    </contact-tag>

    <div ng-if="$ctrl.isNewContact">
      <button
        ng-disabled="contactDetailForm.$invalid"
        ng-click="$ctrl.add();">
        Create contact
      </button>
    </div>
    <div ng-if="!$ctrl.isNewContact">
      <button
        class="delete"
        ng-click="$ctrl.remove();">
        Delete contact
      </button>
    </div>
  </form>

</div>
