<form name="authForm" ng-submit="$ctrl.submitForm()" novalidate>
  <label>
    <input
      name="email"
      type="email"
      placeholder="Enter your username"
      ng-model="$ctrl.user.email"
      required="required"
    />
  </label>
  <label>
    <input
      name="password"
      type="password"
      placeholder="Enter your password"
      ng-model="$ctrl.user.password"
      required="required"
    />
  </label>
  <button type="submit" ng-disabled="authForm.$invalid">
    {{$ctrl.button}}
  </button>
</form>
<div ng-if="authForm.$invalid">
  {{$ctrl.error}}
</div>
