<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo Client</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todo.controller.js"></script>
  </head>
  <body>
    <div class="todo" ng-controller="TodoController as $ctrl">
      <form class="todo__form" ng-submit="$ctrl.addTodo()">
        <input placeholder="Enter a new task !" type="text" ng-model="$ctrl.newTodoTitle" />
      </form>
      <ul class="todo__list">
        <li class="todo__list" ng-repeat="task in $ctrl.tasksList">
          <input id="todo-{{$index}}" type="checkbox" ng-model="task.completed">
          <label class="toggle" for="todo-{{$index}}"></label>
          <p ng-dblclick="editTodo = true;" ng-hide="editTodo">{{ task.title }}</p>
          <input ng-show="editTodo" type="text" ng-model="task.title" ng-blur="editTodo = false;" />
          <a href="" ng-click="$ctrl.removeTodo(task, $index)">
            &#215
          </a>
          <div class="todo__remaining">
            <span>
              {{ Start checking todos ! }}
            </span>
          </div>

        </li>
      </ul>
    </div>
  </body>
</html>
