<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo Client</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todo.controller.js"></script>
    <script src="js/todo.service.js"></script>
  </head>
  <body>
    <div class="todo" ng-controller="TodoController as $ctrl">
      <form class="todo__form" ng-submit="$ctrl.addTodo()">
        <input placeholder="Enter a new task !" type="text" ng-model="$ctrl.newTodoTitle" />
      </form>
      <ul class="todo__list">
        <li class="todo__list" id="{{$index}}" ng-repeat="task in $ctrl.tasksList track by $index">
          <input id="todo-{{$index}}" type="checkbox"
                 ng-model="task.completed"
                 ng-change="$ctrl.toggleTask(task)">
          <label class="toggle" for="todo-{{$index}}"></label>
          <p ng-dblclick="editTodo = true;" ng-hide="editTodo">
            {{ task.title }}
          </p>
          <input ng-show="editTodo" type="text"
                 ng-model="task.title"
                 ng-blur="$ctrl.editTodo(task, $index); editTodo = false;" />
          <a href="" ng-click="$ctrl.removeTodo(task, $index)">
            &#215
          </a>
        </li>
      </ul>
      <p class="todo__remaining">
        <span ng-show="$ctrl.getRemainingTodos().length > 0">
          You have {{$ctrl.getRemainingTodos().length}} of {{$ctrl.tasksList.length}} remaining todo tasks
        </span>
        <span ng-show="$ctrl.getRemainingTodos().length === 0">
          You are super productive !
        </span>
      </p>
    </div>
  </body>
</html>
